<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/padrao}">
	
<head></head>

<body>

<section layout:fragment="corpo">

	<div class="container">
		<form method="GET" th:object="${usuarioFilter}">
	
			<ol class="breadcrumb">
				<li><a th:href="@{/}">Dashboard</a></li>
				<li><a href="">Usuário</a></li>
			</ol>
	
			<div class="row cabecalho">
				<div class="col-xs-12 col-md-6">
					<h1>Usuários</h1>
				</div>
				<div class="col-xs-12 col-md-4 col-md-offset-2 busca">
					<div class="input-group">
						<input type="text" name="busca" class="form-control" placeholder="Pesquisar por nome do usuário" th:field="*{nome}"> 
						<span class="input-group-btn">
							<button type="submit" class="btn btn-default">
								<span class="glyphicon glyphicon-search"></span>
							</button>
						</span>
					</div>
				</div>
			</div>
			
		</form>
		

		<div class="table-responsive  bw-tabela-simples">
			<table
				class="dados-os table table-striped table-bordered table-hover">

				<thead>
					<tr>
						<th>
							<th:block th:replace="layout/fragments/Ordenacao :: orderComponent (${pagina}, 'idUsuario', 'Código')"></th:block>
						</th>
						
						<th>
							<th:block th:replace="layout/fragments/Ordenacao :: orderComponent (${pagina}, 'nome', 'Usuário')"></th:block>
						</th>
						
						<th class="text-center">Ativo</th>
						<th class="text-center">Operações</th>
					</tr>
				</thead>

				<tbody>
					<tr th:each="usuario : ${pagina.conteudo}">
						<td th:text="${usuario.idUsuario}"></td>
						<td th:text="${usuario.nome}"></td>

						<td class="text-center">
							<a class="btn btn-link btn-xs js-btn-ativar-desativar" 
								data-toggle="tooltip" 
								data-placement="top" 
								title="Ativar/Desativar"
							 	data:url="@{/usuario/{id}(id=${usuario.idUsuario})}" 
							 	data:descricao="${usuario.nome}" 
							 	data:status="${usuario.ativo}"> 
								<i class="glyphicon" id="icone-ativo" 
									th:classappend="${usuario.ativo == T(agendafinanceira.models.enums.Ativo).ATIVO ? 'glyphicon-ok text-success' : 'glyphicon-remove text-danger'}"></i>
							</a>
						</td>

						<td class="text-center">
							<a class="btn btn-link btn-xs"
								data-toggle="tooltip" 
								data-placement="top" 
								title="Alterar" 
								th:href="@{/usuario/cadastro/{id}(id=${usuario.IdUsuario})}" > 
								<i class="glyphicon glyphicon-pencil"></i>
							</a> 

							<a class="btn  btn-link  btn-xs  js-btn-excluir"
								data-toggle="tooltip" 
								data-placement="top" 
								title="Excluir" href="#"
							 	data:url="@{/usuario/{id}(id=${usuario.idUsuario})}" 
							 	data:descricao="${usuario.nome}"> 
								<i class="glyphicon glyphicon-trash"></i>
							</a>
						</td>
					</tr>
 					
 					<tr th:if="${pagina.vazia}">
						<td colspan="4">Nenhum registro encontrado</td>
					</tr>
 					 
				</tbody>
			</table>
		</div>


		<footer class="row">
			<div class="col-sm-6">
				<a class="btn btn-primary" th:href="@{/usuario/cadastro}">Novo Usuário</a>
			</div>
			
			<th:block th:replace="layout/fragments/Paginacao :: pageComponent (${pagina})"></th:block>
		</footer>
		
	</div>


	
</section>

<th:block layout:fragment="javaScript-extra">
	<script>
	</script>
		
</th:block>


</body>
</html>
