<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/padrao}">
	
<head>
	<link rel="stylesheet" th:href="@{/css/bootstrap-toggle.min.css}"/>
	<link rel="stylesheet" th:href="@{/css/bootstrap-switch.min.css}"/>
</head>
<body>

<section layout:fragment="corpo">

	<div class="container">

		<ol class="breadcrumb">
			<li><a href="">Dashboard</a></li>
			<li><a href="">Cadastro</a></li>
			<li><a href="">Setores</a></li>
		</ol>

		<div class="row cabecalho">
			<div class="col-xs-12 col-md-6">
				<h1>Cadastro de Setores</h1>
			</div>
		</div>

		<th:block th:include="layout/fragments/mensagemSucesso"></th:block>
		
		<div class="well">
	
			<form method="POST" th:action="@{/setor/cadastro}" th:object="${setorModel}" class="form-vertical  js-form-loading">
			
				<div id="mensagem" class="alert alert-danger hidden" role="alert"></div>
			
				<th:block th:include="layout/fragments/mensagemErro"></th:block>
				
				<div class="row">
					<div class="col-sm-2  form-group">
						<label for="id">ID:</label> 
						<input id="id" type="text" readonly="readonly" class="form-control" th:field="*{idSetor}"/>
					</div>
				</div>
	
				<div class="row">
					<div class="col-sm-6 form-group" th:classappend="${#fields.hasErrors('descricao')} ? has-error">
						<label for="descricao" class="control-label">Descrição</label> 
						<input id="descricao" type="text" class="form-control" th:field="*{descricao}" autofocus="autofocus"/>
					</div>
				</div>



				<div class="row">
					<input type="text" id="text-status" th:value="*{ativo}" th:name="ativo"/>
									
					<div class="form-group col-sm-3">
						<input type="checkbox"
							id="toggle-status" checked 
							class="js-toggle"
							data-on="ATIVO" 
							data-off="INATIVO" 
							data-onstyle="success" 
							data-offstyle="danger"/>
					</div>
				</div>
				
				<div class="row">
					<div class="form-group col-sm-12">
						<button type="submit" class="btn btn-primary">Salvar</button>
						<a class="btn btn-default" th:href="@{/setor}">Voltar</a>
					</div>
				</div>	
							
			</form>
		</div>
	</div>

</section>	


<th:block layout:fragment="javaScript-extra">

	<script th:src="@{/js/bootstrap-toggle.min.js}"></script>

	<script>
		var textStatus = $('#text-status');
	    var toggleStatus = $('#toggle-status');
	    
	    // Novos registros serão inicializados como ATIVO
	    if (textStatus.val()==''){
	    	textStatus.val('ATIVO');
	    }

	    // Inicializa o toggle com o valor inicial na aplicação (back-end)
	    toggleStatus.bootstrapToggle((textStatus.val()=='ATIVO')? 'on' : 'off');
	    
	    // Alterar valor  
	   	toggleStatus.change(function() {
	   		
	   		console.log('Status: ' + toggleStatus.prop('checked'));
	   		if (toggleStatus.prop('checked')){
	   			textStatus.val('ATIVO');
	   		}else{
	   			textStatus.val('INATIVO');
	   		}
	   		
	      })
	    
	</script>
		
</th:block>

</body>
</html>