<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/padrao}">
	
<head></head>
<body>

<section layout:fragment="corpo">

	<div class="container">
		<form method="GET" id="tabela-setores" th:object="${setorFilter}">
			<ol class="breadcrumb">
				<li><a href="">Dashboard</a></li>
				<li><a href="">Setores</a></li>
			</ol>
	
			<div class="row cabecalho">
				<div class="col-xs-12 col-md-6">
					<h1>Setores</h1>
				</div>
				
				<div class="col-xs-12 col-md-4 col-md-offset-2 busca">
					<div class="input-group">
						<input type="text" name="busca" class="form-control" placeholder="Pesquisar por descrição" th:field="*{descricao}"> 
							<span class="input-group-btn">
								<button type="submit" class="btn btn-default">
									<span class="glyphicon glyphicon-search"></span>
								</button>
							</span>
					</div>
				</div>
			</div>
		</form>


		<div class="table-responsive  bw-tabela-simples">
			<table
				class="dados-os table table-striped table-bordered table-hover">

				<thead>
					<tr>
						<th>
							<th:block th:replace="layout/fragments/Ordenacao :: orderComponent (${pagina}, 'idSetor', 'Código')"></th:block>
						</th>
						
						<th>
							<th:block th:replace="layout/fragments/Ordenacao :: orderComponent (${pagina}, 'descricao', 'Setor')"></th:block>
						</th>
						
						<th class="text-center">Ativo</th>
						<th class="text-center">Operações</th>
					</tr>
				</thead>

				<tbody>
					<tr th:each="setor : ${pagina.conteudo}">
						<td th:text="${setor.idSetor}"></td>
						<td th:text="${setor.descricao}"></td>

						<td class="text-center">
							<a class="btn btn-link btn-xs js-btn-ativar-desativar" data-toggle="tooltip" data-placement="top" title="Ativar/Desativar" id="ativar-desativar"
							 	data:url="@{/setor/{id}(id=${setor.idSetor})}" 
							 	data:descricao="${setor.descricao}" 
							 	data:status="${setor.ativo}"> 
								<i class="glyphicon" 
									th:classappend="${setor.ativo == T(agendafinanceira.models.enums.Ativo).ATIVO ? 'glyphicon-ok text-success' : 'glyphicon-remove text-danger'}">
								</i>
							</a>
						</a></td>

						<td class="text-center">
							<a class="btn btn-link btn-xs" 
								data-toggle="tooltip" 
								data-placement="top" 
								title="Alterar" 
								th:href="@{/setor/cadastro/{id}(id=${setor.idSetor})}" > 
								<i class="glyphicon glyphicon-pencil"></i>
							</a> 
							
							<a class="btn btn-link btn-xs js-btn-excluir" 
								data-toggle="tooltip" 
								data-placement="top" 
								title="Excluir" href="#"
							 	data:url="@{/setor/{id}(id=${setor.idSetor})}" 
							 	data:descricao="${setor.descricao}"> 
								<i class="glyphicon glyphicon-trash"></i>
							</a>
						</td>
					</tr>
 					 
 					<tr th:if="${pagina.vazia}">
						<td colspan="4">Nenhum registro encontrado</td>
					</tr>
					
					
				</tbody>
			</table>
		</div>


		<footer class="row">
			<div class="col-sm-6">
				<a class="btn btn-primary" th:href="@{/setor/cadastro}">Novo Setor</a>
			</div>

			
			<th:block th:replace="layout/fragments/Paginacao :: pageComponent (${pagina})"></th:block>
		</footer>
		
	</div>

</section>	

</body>
</html>
