<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>Agenda Financeira</title>

<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
<link rel="stylesheet" th:href="@{/css/font-awesome.min.css}"/>
<link rel="stylesheet" th:href="@{/css/agendafinanceira.css}"/>


<link rel="shortcut icon" th:href="@{/img/AppLogo.png}"/>

</head>
<body>

	<div th:replace="layout/fragments/menu :: barra-menu"></div>
	
	<section layout:fragment="corpo"></section>

	<script th:src="@{/js/jquery-2.2.4.min.js}"></script>
	<script th:src="@{/js/jquery.maskMoney.min.js}"></script>
	<script th:src="@{/js/bootstrap.min.js}"></script>
	
	<th:block layout:fragment="javaScript-extra"></th:block>	
 	
</body>
</html>
