<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/padrao}">
	
<head>
	<title>Baixar Parcela</title>
</head>

<body>

<section layout:fragment="corpo">

	<div class="container">

		<ol class="breadcrumb">
			<li><a th:href="@{/}">Dashboard</a></li>
			<li><a th:href="@{/pagamento/baixa}">Baixa de Pagamento</a></li>
			<li><a href="" draggable="false">Parcela</a></li>
		</ol>

		<div class="row cabecalho">
			<div class="col-md-12">
				<h1>Baixar Parcela</h1>
			</div>
		</div>
		
		<th:block th:include="layout/fragments/mensagemSucesso"></th:block>
		
		<div class="well">
			<form class="form-vertical" th:action="@{/pagamento/baixa/parcela/{id}(id=1)}" method="POST" th:object="${pagamentoParcelaModel}">
			
				<th:block th:include="layout/fragments/mensagemErro"></th:block>
			
<!-- 				<input type="hidden" th:field="*{pagamento}"/> -->
			
				<div class="row">
					<div class="form-group col-sm-3">
						<label for="parcela" class="control-label">Parcela</label>
						<input type="text" readonly id="parcela" class="form-control">
					</div>
					
					<div class="form-group col-sm-3">
						<label for="vcto" class="control-label">Data de Vencimento</label>
						<input type="date" readonly id="vcto" class="form-control">
					</div>
		
					<div class="form-group col-sm-3">
						<label for="valor" class="control-label">Valor</label>
						<input type="text" readonly id="valor" class="form-control">
					</div>
		
					<div class="form-group col-sm-3">
						<label for="desconto" class="control-label">Desconto</label>
						<input type="text" id="desconto" class="form-control">
					</div>
				</div>

				<div class="row">
					<div class="form-group col-sm-3">
						<label for="juros" class="control-label">Juros</label>
						<input type="text" id="juros" class="form-control">
					</div>
					
					<div class="form-group col-sm-3">
						<label for="mora" class="control-label">Mora</label>
						<input type="text" id="mora" class="form-control">
					</div>
		
					<div class="form-group col-sm-3">
						<label for="outros" class="control-label">Outros</label>
						<input type="text" id="outros" class="form-control">
					</div>
		
					<div class="form-group col-sm-3">
						<label for="total" class="control-label">TOTAL</label>
						<input type="text" id="total" class="form-control">
					</div>
				</div>

				<div class="well well-sm">
					<div class="row">
						<div class="form-group col-sm-3">
							<label for="dt-pgto" class="control-label">Data de Pagamento</label>
							<input type="date" id="dt-pgto" class="form-control">
						</div>
						
						<div class="form-group col-sm-6">
							<label for="forma-pgto" class="control-label">Forma de Pagamento</label>
							<select class="form-control">
								<option selected="selected">Selecione...</option>
								<option>Dinheiro</option>
								<option>Cartão</option>
								<option>Cheque</option>
							</select>
						</div>
					
					</div>
				</div>

				<div class="row">
					<div class="form-group col-sm-12">
						<button type="submit" class="btn btn-primary">Salvar</button>
						<a class="btn btn-default" th:href="@{/pagamento/baixa}">Voltar</a>
					</div>
				</div>					
			</form>
				
		</div>

				
	</div>

	
</section>

</body>
</html>