<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/padrao}">
	
<head></head>
<body>

<section layout:fragment="corpo">

	<div class="container">
		<form method="GET" id="tabela-pgto" th:object="${pagamentoFilter}" class="form-horizontal">
			<ol class="breadcrumb">
				<li><a th:href="@{/}">Dashboard</a></li>
				<li><a href="">Pagamentos</a></li>
			</ol>
	
			<div class="row cabecalho">
				<div class="col-md-12 busca">
					<h1>Pagamentos</h1>
				</div>
			</div>
				
				
			<div class="row cabecalho">
				<div class="col-xs-12 col-md-2 busca">
					<input type="date" placeholder="Data Inicial" class="form-control" />
				</div>
				
				<div class="col-xs-12 col-md-2 busca">
					<input type="date" placeholder="Data Final" class="form-control" />
				</div>
				
				<div class="col-xs-12 col-md-2 busca">
					<select class="form-control">
						<option>Todos</option>
						<option>Agendado</option>
						<option>Programado</option>
						<option>Baixado</option>
						<option>Cancelado</option>
					</select>
				</div>
				
				<div class="col-xs-12 col-md-3 busca">
					<div class="input-group">
						<input type="text" name="busca" class="form-control" placeholder="Pesquisar por fornecedor" readonly="readonly"/> 
						<span class="input-group-btn">
							<button class="btn btn-default">
								<span class="glyphicon glyphicon-user"></span>
							</button>
						</span>
					</div>
				</div>
				
				<div class="col-xs-12 col-md-3 busca">
					<div class="input-group">
						<input type="text" name="busca" class="form-control" placeholder="Pesquisar por histórico"/> 
						<span class="input-group-btn">
							<button type="submit" class="btn btn-default">
								<span class="glyphicon glyphicon-search"></span>
							</button>
						</span>
					</div>
				</div>
				
			</div>
		</form>


		<div class="table-responsive">
			<table
				class="dados-os table table-striped table-bordered table-hover">

				<thead>
					<tr>
						<th>
							<th:block th:replace="layout/fragments/Ordenacao :: orderComponent (${pagina}, 'vencimento', 'Vencimento')"></th:block>
						</th>
						
						<th>
							<th:block th:replace="layout/fragments/Ordenacao :: orderComponent (${pagina}, 'fornecedor.nomeFantasia', 'Fornecedor')"></th:block>
						</th>
						
						<th>
							<th:block th:replace="layout/fragments/Ordenacao :: orderComponent (${pagina}, 'pagamento.historico', 'Histórico')"></th:block>
						</th>
						
						<th class="text-center">Parcela</th>

						<th>
							<th:block th:replace="layout/fragments/Ordenacao :: orderComponent (${pagina}, 'valor', 'Valor')"></th:block>
						</th>
						
						<th>
							<th:block th:replace="layout/fragments/Ordenacao :: orderComponent (${pagina}, 'situacao', 'Situação')"></th:block>
						</th>

						<th class="text-center">Operações</th>
					</tr>
				</thead>

				<tbody>
					<tr th:each="parcela : ${pagina.conteudo}">
						<td th:text="${parcela.vencimento}"></td>
						<td th:text="${parcela.pagamento.fornecedor.nomeFantasia}"></td>
						<td th:text="${parcela.pagamento.historico}"></td>
						<td th:text="${parcela.parcela}"></td>
						<td th:text="${parcela.valor - parcela.desconto + parcela.juros + parcela.mora + parcela.outros}"></td>
						<td th:text="${parcela.situacao.descricao}"></td>

						<td class="text-center">
							<a class="btn btn-link btn-xs" 
								data-toggle="tooltip" 
								data-placement="top" 
								title="Alterar" 
								th:href="@{/pagamento/cadastro/{id}(id=${parcela.idParcela})}" > 
								<i class="glyphicon glyphicon-pencil"></i>
							</a> 
							
							<a class="btn btn-link btn-xs js-btn-excluir" 
								data-toggle="tooltip" 
								data-placement="top" 
								title="Excluir" href="#"
							 	data:url="@{/pagamento/{id}(id=${parcela.idParcela})}" 
							 	data:descricao="${parcela.pagamento.fornecedor.nomeFantasia}"> 
								<i class="glyphicon glyphicon-trash"></i>
							</a>
						</td>
					</tr>
 					 
 					<tr th:if="${pagina.vazia}">
						<td colspan="4">Nenhum registro encontrado</td>
					</tr>
					
					
				</tbody>
			</table>
		</div>


		<footer class="row">
			<div class="col-sm-6">
				<a class="btn btn-primary" th:href="@{/pagamento/lancamento}">Novo Lançamento</a>
			</div>

			
			<th:block th:replace="layout/fragments/Paginacao :: pageComponent (${pagina})"></th:block>
		</footer>
		
	</div>

</section>	

</body>
</html>
