<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org">
	
	<th:block th:fragment="orderComponent (pagina, campo, nomeColuna)">
		<a th:href="${pagina.orderChange(campo)}" th:remove="${pagina.vazia} ? tag">
			<span th:text="${nomeColuna}"></span>
			<span th:class="dropup" th:remove="${pagina.isDescendent(campo)} ? tag" th:if="${pagina.isOrder(campo)}">
				<span th:class="caret"></span>
			</span>
		</a>
	</th:block>
		
</html>
	